/* COLORS */

$off-black: #20112b;
$off-white: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$main-color: #9400d3;

/* SPACING */

$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop: 45rem;
